{% extends 'authentication/index.html' %}
{% load static %}

{% block title %}
  <title>Edit Post</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %}

{% block content %}
  <div class="edit-main-container">
    <h2>Edit Post</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="profile-submit-button">Save changes</button>
    </form>
  </div>
{% endblock %}
