{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Manga details</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}
{% block content %}
  <main>
    <div class="main">
      <section class="manga-main-container">
        <h2>{{ post.title }}</h2>
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" />
        <h2>Author:<span class="author">{{ post.author }}</span></h2>
        <h4>{{post.genre}}</h4>
        <p>{{ post.description }}</p>
      </section>
      <section class="rating-section">
        {% if user.is_authenticated %}
        <form action="{% url 'post_detail' post.id %}" method="post">
          {% csrf_token %}
          <h4>write you review</h4>
          <div>
            <div class="rate">
              <input type="radio" name="rating" id="rating5" value="5" required /><label for="rating5" title="5"></label>
              <input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4" title="4"></label>
              <input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3" title="3"></label>
              <input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2" title="2"></label>
              <input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1" title="1"></label>
            </div><br />
            <label for="review">Review:</label>
            <textarea name="review" rows="5" class="form-control"></textarea><br />
            <button>submit</button>
          </div>
        </form>
        {% include 'alerts.html' %}
        {% else %}
        <h4>login to write a review <a href="{% url 'login' %}">Login</a></h4>
        {% endif %} 
      </section>
      <section class="rating-section-1">
        <h4>Average Rating</h4>
        {% for i in rating_data %}
          <span class="fa fa-star {% if avg_rating >= i %}checked{% endif %}"></span>
        {% endfor %}
        <br />
        <p>{{ avg_rating|floatformat:1 }} average based on {{ rating_count }} reviews.</p>

        <div class="row">
          {% for key, value in rating_data.items %}
            <div class="side">
              <div>{{ key }} star</div>
            </div>
            <div class="star-div">
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-{{ key }}" style="width: {{ value }}%"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{ value }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </main>
{% endblock %}
