{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Post</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/post.css' %}" />
{% endblock %}
{% block content %}
  <div class="post-container">
    <h1>Create a new Post</h1><br />
    <form method="post" novalidate enctype="multipart/form-data">
      {% csrf_token %}
      {% for fm in form %}
        <div class="post-form-group">
          {{ fm.label_tag }}{{ fm }}
          <div class="error">{{ fm.errors|striptags }}</div>
        </div>
      {% endfor %}
      <button type="submit" class="submit-button">Save changes</button>
    </form>
    {% include 'alerts.html' %}
  </div>
{% endblock %}
