{% extends 'authentication/index.html' %}
{% block title %}
  <title>Reset your password</title>
{% endblock %}
{% block content %}
  <div class="email-reset-container">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="errors">{{ form.non_field_errors }}</div>
      <p>
        <input type="submit" value="Send e-mail" />
      </p>
    </form>
  </div>
{% endblock %}
