*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Styling the header */

header {
    background-color: #ca2f2f;
    color: white;
    padding: 10px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
#logo-div>h1>a {
    
    margin: 0;
    color: white;
    text-decoration: none;
}
#logo-div>h1>a>h1{
    font-size: 50px;

}


.navbar ul {
    list-style-type: none;
    display: flex;
    margin-top: 15px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-top:10px ;
}
.navbar li a:hover {
    background-color: #af5a5a;
    border-radius: 10px;
    padding: 5px;
}
.active {
    background-color: #6ebecc;
    border-radius: 10px;
    padding: 5px;
}
.menu-btn{
    display: none;
}
.close-btn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    display: none;
  }
a{
    text-decoration: none;

}

.section-home-container .aside-container{
    max-width: 1100px;
    margin: 0 auto;
}

    /* log in page */
.login-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-container form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container form input:focus {
    border-color: #007bff;
    outline: none;
}

/* Buttons Styling */
.login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container button a {
    color: white;
    text-decoration: none;
}

.login-container .signup-button {
    background-color: #28a745;
    margin-top: 10px;
}

.login-container .signup-button:hover {
    background-color: #218838;
}
#forgot{
    margin-left: 10px;
}

/* Messages Styling */
.login-container .messages {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    font-weight: bold;
}

/* signup form */
.signup-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.signup-container form input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-container form input:focus {
    border-color: #007bff;
    outline: none;
}


/* Buttons Styling */
.signup-container button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.signup-container button:hover {
    background-color: #0056b3;
}

/* Messages Styling */
.signup-container .messages p{
    margin-top: 20px;
    color: red; 
    font-size: 16px;
    font-weight: bold;
}

/* profile */
.main-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.profile-form-container {
    max-width: 500px;
    margin:30px 5px 5px 5px;
    padding: 20px 20px 20px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    float: right;
}

.profile-image {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    margin-right:20px ;

}

.image-item {
    margin-bottom: 20px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
p{
    font-size: 25px;
    margin-bottom: 10px;
}
.aside-container h2{
    margin:20px;
    font-size: 25px;
}

.profile-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input[type=text], input[type=email]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}


.profile-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-submit-button:hover {
    background-color: #45a049;
}
.edit-post{
    display: flex;
    justify-content: space-around;
}
.edit-button{
    background-color: #7267ce;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.profile-error {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .delete-button:hover {
    background-color: #ff1a1a;
  }
/* changepassword */
.password-form-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin:50px auto;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-group label{
    margin-right: 10px;
    text-align: right;
}

.form-group input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group  button:hover {
    background-color: #0056b3;
}
.errors{
    color: #ee0606;
}
/* forgot email reset */
.email-reset-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin:50px auto;
}

.email-reset-container h1{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.email-reset-container p{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.email-reset-container  form {
    display: flex;
    flex-direction: column;
}

.email-reset-container input[type="email"] {
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.email-reset-container  input[type="submit"] {
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-reset-container  input[type="submit"]:hover {
    background-color: #0056b3;
}
.messages {
    transition: opacity 0.5s ease-out;
}
.fade-out {
    opacity: 0;
}




@media screen and (max-width: 768px) {
    main{
        max-width: 300px;
        margin: 0 auto;
    }
    .main-container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto;
    }
    #logo-div>h1>a>h1{
        font-size: 25px;
    
    }
    .profile-form-container {
        max-width: 90%;
        padding: 10px;
    }

    .signup-container,
    .login-container {
        width: 95%;
        padding: 15px;
    }

    .signup-container form input,
    .login-container form input {
        font-size: 14px;
        padding: 8px;
    }

    .signup-container button,
    .login-container button {
        font-size: 14px;
        padding: 8px 15px;
    }
    .password-form-container{
        max-width: 250px;
    }

    .header-container {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        align-content: space-around;
        justify-content: space-around;
    }

    .navbar {
        display: none;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-btn {
        display: block;
        width: 50px;
        float: right;
    }

    .navbar.active {
        display: block;
    }
    .image-gallery{
        margin-left: 30px;
    }

    /* password change */
    .form-group {
        grid-template-columns: 1fr;
    }

    .form-group label {
        text-align: left;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
    }
    .close-btn {
        display: block;
    }
    .email-reset-container{
        max-width: 250px;
    }
      
}






