.post-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px 40px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.post-container .post-form-group {
    margin-bottom: 15px;
}

.post-container .post-form-group label {
    display: block;
    font-weight: bold;
}

.post-container .post-form-group input[type="text"],
.post-container .post-form-group input[type="file"],
.post-container .postform-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-container .error {
    color: red;
    font-size: 0.875em;
}

.post-container .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-container .submit-button:hover {
    background-color: #45a049;
}

.author {
    font-size: 20px;
    color: #00bcd4;
}

/* edit_post */

.edit-main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-main-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.edit-main-container form {
    display: flex;
    flex-direction: column;
}

.edit-main-container form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-main-container form input,
.edit-main-container form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-main-container form button {
    padding: 10px;
    color: #fff;
    background-color: #c57373;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.edit-main-container form button:hover {
    background-color: #5b7fce;
}

.edit-main-container .profile-submit-button {
    align-self: flex-start;
}

/* rating */
.rate>input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate>label {
    float: right;
}

.rate>label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

input:checked~label,
label:hover~label {
    color: #ffb503;
}

input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #cc9000;
}


.manga-main-container {
    margin: 20px;
}

.manga-main-container>h2 {
    font-size: 24px;
    font-weight: bold;
}

.manga-main-container>img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

.manga-main-container>p {
    margin-top: 20px;
    font-size: 18px;
    width: 300px;
    height: 250px;
    overflow: auto;
    border: solid 2px wheat;
}


.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

.side {
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.rating-section {
    margin-top: 20px;
}

.rating-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.star-div {
    display: flex;
}

.right {
    margin-left: 10px;
}

.bar-5 {
    height: 18px;
    background-color: #04AA6D;
}

.bar-4 {
    height: 18px;
    background-color: #2196F3;
}

.bar-3 {
    height: 18px;
    background-color: #00bcd4;
}

.bar-2 {
    height: 18px;
    background-color: #ff9800;
}

.bar-1 {
    height: 18px;
    background-color: #f44336;
}



#ratingForm button[type="submit"] {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#ratingForm button[type="submit"]:hover {
    background-color: #45a049;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* Example of making form fields responsive */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .form-group input[type="text"],
    .form-group input[type="file"],
    .form-group textarea {
        width: 90%;
    }

    .post-container {
        width: 80%;
    }

    .side,
    .middle {
        width: 100%;
    }

    .edit-main-container {
        max-width: 300px;

    }

    form input,
    form textarea {
        width: 95%;
    }

}