<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div id="logo-div">
          <h1><a href="{% url 'home' %}"><h1>MangaWeebs</h1></a></h1>
        </div>
        <nav class="navbar">
          <ul>
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="login-container">
      <form method="post">
        {% csrf_token %}
        {% for fm in form %}
          {{ fm.label_tag }}{{ fm }}
          <div class="errors">
            {{ fm.errors|striptags }} <br />
          </div>
        {% endfor %}
        {% if form.non_field_errors %}
        {% for errors in form.non_field_errors %}
        <span class="errors">{{ errors}}</span>
        {% endfor %}
        {% endif %}
        <button>Login</button>
      </form>
      <button class="signup-button"><a href="{% url 'signup' %}">signup</a></button>
      <p><a id="forgot" href="{% url "password_reset" %}">Forgotten your password?</a></p
    </div>
    {% include 'alerts.html' %}
  </body>
</html>
