{% extends 'authentication/index.html' %}
{% load static %}
{% block title %}
  <title>Profile</title>
{% endblock %}

{% block content %}
  <div class="main-container">
    <section>
      <div class="aside-container">
        <h2>your posts</h2>
        <div class="image-gallery">
          {% for image in images %}
            <div class="image-item">
              <a href="{% url 'post_detail' image.id %}">
              <img class="profile-image" src="{{ image.photo.url }}" alt="Post Image" />
              <p>{{ image.title }}</p>
              </a>
              <div class="edit-post">
              <form action="{% url 'delete' image.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete</button>
              </form>
              <button><a href="{% url 'edit' image.id %}" class="edit-button">Edit</a></button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section class="profile-form-container">
      <h2>Edit Profile:</h2>
      <hr>
      <form method="post">
        {% csrf_token %}
        {% for fm in form %}
          <label class="profile-label">{{ fm.label_tag }}</label>
          {{ fm }}
          <div class="profile-error">{{ fm.errors|striptags }}</div>
        {% endfor %}
        <button type="submit" class="profile-submit-button">Save changes</button>
        <button><a  href="{% url 'changepassword' %}">change password with old password</a></button>
      </form>
      {% include 'alerts.html' %}
    </section>
    
  </div>
{% endblock %}
